@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Silkscreen', sans-serif;
}

body {
    transition: background-color 1s, color 1s;
}

td {
    font-size: 100px;
    text-align: center;
    width: 200px;
    height: 200px;
    cursor: pointer;
}

#darkMode {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #000;
    padding: 5px 5px;
    border-radius: 10px;
    cursor: pointer;
    fill: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 1s, fill 1s;
}

.dark {
    background-color: #222;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    height: 100dvh;
}

#title {
    font-size: 28px;
}

@media (max-width: 625px) {
    td {
        font-size: 50px;
        width: 100px;
        height: 100px;
    }
}